.rm-upload-wrap .uploader-inline-content {
  top: 10%;
}

.rm-upload-wrap p.no-mg-top {
  margin-top: 0px;
}

.ocs-logo {
  padding-top: 20px;
}

.ocs-logo small {
    display: inline-block;
}

.ocs-logo img {
    display: inline-block;
    padding-top: 10px;
}
.spinner.ocs-inline-loading {
    float: initial;
    margin-top: -3px;
}
.ocs-2x {
    font-size: 2em;
}
.ocs-3x {
    font-size: 3em;
}
.ocs-green {
    color: #7ad03a;
}
.ocs-red {
    color: #a00;
}

.rml-actions {
    padding: 10px;
    clear: both;
    border-top: 1px solid #ddd;
    background: #f5f5f5;
    margin:-12px;
}
.rml-validation-actions {
    text-align: right;
    float: right;
    line-height: 23px;
}

.rml-status-actions {
    margin: -12px;
    padding: 15px 0;
}
.rml-status-actions label {
    vertical-align: baseline;
}
.rml-status-field {
    font-weight: 600;
}
.rml-status-actions label[for="account_status"]:before {
    content: "\f316";
    color: #888;
    display: inline-block;
    font: normal 20px/1 'dashicons';
    speak: none;
    left: -1px;
    padding: 0 5px 0 0;
    position: relative;
    top: 0;
    text-decoration: none !important;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul.wpform-fieldset li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.rml-status-field.notvalid {
    color: #a00;
}